AUTH_ORIGIN= # https://sidebase.io/nuxt-auth/resources/errors
AUTH_SECRET= # https://sidebase.io/nuxt-auth/resources/errors

GOOGLE_PROVIDER_CLIENT_ID= # https://developers.google.com/identity/gsi/web/guides/get-google-api-clientid
GOOGLE_PROVIDER_CLIENT_SECRET= # https://developers.google.com/identity/gsi/web/guides/get-google-api-clientid

GITHUB_PROVIDER_CLIENT_ID= # https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/authenticating-to-the-rest-api-with-an-oauth-app
GITHUB_PROVIDER_CLIENT_SECRET= # https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/authenticating-to-the-rest-api-with-an-oauth-app

DISCORD_PROVIDER_CLIENT_ID= # https://discord.com/developers/docs/topics/oauth2
DISCORD_PROVIDER_CLIENT_SECRET= # https://discord.com/developers/docs/topics/oauth2